page-sign-in {


.heading {
color: #f7f7f7;
font-size: 25px;
text-align: center;
}

.login-content {
background: #c5c3b9;

.logo-row {
padding-top: 50px;
padding-bottom: 20px;
}

.login-box {
background: #ff3b30;

}
.logo-row {
padding-top: 10px;
padding-bottom: 20px;
}

.loginfield {
align-items: left;
text-align: left;
background: #c5c3b9;
color: #ffffff;
}

ion-item {
font-size: 0.9em;
margin-bottom: 10px;


box-shadow: none !important;
}

.signup-col {
margin-top:10px;
margin-bottom:20px;
padding-bottom: 20px;

}

.item-inner {
border-bottom-color: #ffffff !important;
box-shadow: none !important;
}

.submit-btn {
background: #5ebedc;

border: 1px solid #ffffff;
}

.register-btn {
margin-top:10px;
color: #ffffff;
font-size: 10px;
}
.createnewac-btn {
margin-top:10px;
color: #ffffff;
font-size: 12px;
}

}



}