page-add-loan {

ion-select {
    max-width: 90%;
}
 
 ion-select
{
 	color :#5ec0db;
 }

 ion-label{
 	color : #5ec0db;
 }

 .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    color: #5ec0db;
}
}
