page-add-income {
  .category{
    background-color: #5ec0db;
  }

  .category p{
    font-size:18px;
    padding:10px 5px;
    color:#fff;
  }

  .category img{
    width:70%;
    margin-top:7px;
  }

  .add-circle{
    color:#fff;
    font-size:35px;
    margin-top:7px;

  }

  .income{
    background-color:#5ec0db;
    text-align:center;
    color:#fff;
    padding:15% 0;
  }

  .card-ios{
    margin-top:0px;
  }
}